

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: #ebe7ef;
    font-synthesis: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 2rem;
    background: rgb(219, 212, 185);
    background: linear-gradient(90deg,
            rgb(189, 183, 159) 0%,
            rgba(212, 205, 176, 1) 48%,
            rgba(216, 208, 182, 1) 100%);
}

.header {
    font-family: "Cabin Sketch", sans-serif;
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
    font-size: 40px;
}

.text-shadow {
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 1);
}

.question-text {
    font-family: "Cabin Sketch", sans-serif;
    font-size: 24px;
    text-shadow: 3px 3px 8px rgb(255, 255, 255);
    color: black;
}

.answer {
    font-family: "Open Sans", sans-serif;
}

#question progress {
    width: 50%;
    height: 0.5rem;
    border-radius: 24px;
    background: rgb(6 182 212);
    margin: 0;
}

#question progress::-webkit-progress-bar {
    background: rgb(21 94 117);
    border-radius: 24px;
}

#question progress::-webkit-progress-value {
    background: rgb(6 182 212);
    border-radius: 24px;
}

#question progress.answered {
    background: rgb(6 182 212);
}

#question progress.answered::-webkit-progress-value {
    background: rgb(6 182 212);
}

#question progress.answered::-webkit-progress-bar {
    background: rgb(21 94 117);
}